.calendar-layout {
	display: flex;
	height: 100vh;
	background-color: var(--color-base-200);
}

.context-menu {
	position: absolute;
	background-color: var(--color-base-100);
	border-radius: var(--radius-field);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: var(--size-field);
	z-index: 1000;
	border: 1px solid var(--color-previous-month-content);

}

.calendar-container {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: var(--color-base-200);
	padding: var(--size-field);
}

.action {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-field);
	background-color: var(--color-base-100);
	border-radius: var(--radius-field);
	color: var(--color-base-content);
	font-weight: bold;
	width: 100%;
	height: auto;
}



.btn {
	margin-left: 1rem;
	padding: var(--size-field);
	background-color: var(--color-neutral);
	border-radius: var(--radius-field);
	color: var(--color-neutral-content);
	box-shadow: 0px 0px 5px var();
}


.btn-layout {

	padding: var(--size-field);
	background-color: var(--color-neutral);
	border-radius: var(--radius-field);
	color: var(--color-neutral-content);
	font-weight: bold;
	width: 5rem;
	height: auto;
	margin-left: 1rem;
}


@media screen and (max-width: 768px) {
	.calendar-container {
		width: 100%;

	}

	.calendar-day {
		height: 10%;
	}

	.day-label {
		width: 20px;
		height: 20px;
		padding-top: 3px;
		font-size: smaller;
		padding-top: 1px;
	}

}
